* {
    font-family: 'Akshar', sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: -moz-linear-gradient(30deg, rgb(147, 217, 255) 0%, rgb(73, 199, 153) 100%);
    background: -webkit-linear-gradient(30deg, rgb(147, 217, 255) 0%, rgb(0, 241, 160) 100%);
    background: linear-gradient(30deg, rgb(147, 217, 255) 0%, rgb(0, 241, 160) 100%);
}

.obrazek {
    display: flex;
    align-items: center;
    justify-content: center;

}

.obrazek\.png {
    height: 350px;
    width: 350px;
}

.start {
    width: 350px;
    font-size: 32px;
    background-color: darkblue;
    border: 3px;
    border-radius: 10px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
    height: 70px;
    margin-top: 1em;
}


.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

.question {
    font-size: 25px;
    background-color: darkblue;
    color: white;
    padding: 1em;
    text-align: center;
    border: 3px;
    border-radius: 10px;
    visibility: hidden;
}

.answer {
    font-size: 18px;
    background-color: darkblue;
    color: white;
    padding: 1em;
    text-align: center;
    border: 3px;
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 15px;
    visibility: hidden;
    cursor: pointer;
}

.start:hover {
    background-color: green;
}

.answerA::before {
    content: "A: ";

}

.answerB::before {
    content: "B: ";
}

.answerC::before {
    content: "C: ";
}

.answerD::before {
    content: "D: ";
}

.restart {
    width: 220px;
    height: 80px;
    font-size: 25px;
    background-color: green;
    border: 3px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    margin-left: -420px;
    margin-top: 16.75px;
}

.padesat {
    width: 220px;
    height: 80px;
    font-size: 25px;
    background-color: purple;
    border: 3px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    margin-left: -420px;
    margin-top: 206.75px;
}

.zmena {
    width: 220px;
    height: 80px;
    font-size: 25px;
    background-color: purple;
    border: 3px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    margin-left: -420px;
    margin-top: 316.75px;
}









